@using Sandbox.UI;
@namespace Sandbox.UI.Utilities
@inherits Panel
@attribute [UtilityPage("Settings", "Player")]

<root class="utility-panel">
	<label class="description">Player Model</label>
	<button class="btn" onclick=@(TogglePlayerModelType)>Toggle Player Model Humanity (@(dresser?.UseHumanModel == true ? "Human" : "Citizen"))</button>

    <label class="description">Physgun Sound</label>
	<button class="btn" onclick=@(TogglePhysgunSound)>Toggle Physgun Sound (@(Player.Local?.Settings.UsePhysgunSound == true ? "On" : "Off"))</button>
</root>

@code
{
	PlayerDresser _dresser;
	PlayerDresser dresser
	{
		get
		{
			if (!_dresser.IsValid()) _dresser = Player.Local?.Body?.GetComponent<PlayerDresser>();
			return _dresser;
		}
		set
		{
			_dresser = value;
		}
	}

	void TogglePlayerModelType()
	{
		dresser?.ChangePlayerModelType(!dresser.UseHumanModel);
	}

    void TogglePhysgunSound() {
		Player.Local.Settings.UsePhysgunSound = !Player.Local.Settings.UsePhysgunSound;
    }
}
