InventoryBar {
    position: absolute;
    width: 100%;
    bottom: 48px;
    justify-content: center;
    align-items: flex-end;
    z-index: 0;
    transition: all 0.2s ease;
}

.spawnmenuopen InventoryBar {
    opacity: 0.01;
}
