@using Sandbox.UI;
@using Sandbox.Tools;
@inherits Panel
@namespace Sandbox.UI
@attribute [StyleSheet]

<root class="DefaultToolInspector">
	<label class="header">@BaseTool.Instance.Name</label>
	<div class="content">
		<label class="description">@BaseTool.Instance.Description</label>
		@if (Controls != null)
		{
			<div class="controls">
				@Controls
			</div>
		}
		else
		{
			<DefaultToolInspectorControls CurrentTool="@BaseTool.Instance" />
		}
	</div>
</root>

@code
{
	public Sandbox.Razor.RenderFragment Controls { get; set; }

	protected override int BuildHash() => System.HashCode.Combine(BaseTool.Instance.Name);
}
