$blue: #3273eb;

CurrentToolHud {
    border-left: 10px solid $blue;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba( #111, 0.5 );
    margin-top: 100px;
    margin-left: 100px;
    min-width: 440px;
    padding: 20px 50px;
    flex-direction: column;
    opacity: 0.0;

    &.active {
        opacity: 1.0;
    }

    .title {
        font-size: 30px;
        color: white;
        font-family: Poppins;
        font-weight: 800;
        mix-blend-mode: lighten;
        text-transform: uppercase;
    }

    .description {
        font-size: 12px;
        font-weight: normal;
        color: white;
        opacity: 0.5;
        font-family: Poppins;
        font-weight: 500;
        mix-blend-mode: lighten;
        text-transform: uppercase;
        white-space: pre-line;
    }
}
.spawnmenuopen CurrentToolHud {
    opacity: 0.01;
}
